/* keyframes */
@keyframes blink {
    0% {
        opcity: 0;
    }
    100% {
        opacity: 1;
    }
};

@keyframes glitch {
    0% {
        opacity: 1;
        transform: none;
    }
    33% {
        transform: none;
    }
    33.2% {
        opacity: 1;
        transform: translate(.025rem, .05rem);
    }
    33.4% {
        opacity: 0;
        transform: translate(-.0125rem, -.0125rem);
    }
    33.6% {
        opacity: 1;
        transform: none;
    }
    66% {
        transform: none;
    }
    66.2% {
        opacity: 1;
        transform: translate(-.025rem, .05rem);
    }
    66.4% {
        opacity: 0;
        transform: translate(.025rem, -.05rem);
    }
    66.6% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 1;
        transform: none;
    }
    }

@keyframes rotate-y {
    0% {
        opacity: 1;
        transform: rotateY(0);
    }
    50% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein-anim {
    0% {
        opacity: 0;
        transform: translateY(3vh);
    }
    95% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein-anim2 {
        0%,
        15% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
}