@use "../../global/" as *;
@use "../../common/" as *;

.skill {
    display: flex;
    justify-content: center;
    @include media('sp') {
        flex-direction: column;
        width: 100%;
    }
    &__img {
        max-width: 297.5px;
        @include media('tab') {
            max-width: 297.5px * .8;
        }
        @include media('sp') {
            max-width: 297.5px * .7;
        }
    }
    &__mv,
    &__dscrpton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        @include media('sp') {
            width: 100%;
        }
    }
    &__mv {
        align-items: center;
        margin-bottom: 1rem;
    }
    &__dscrpton {
        align-items: start;
        @include media('sp') {
            align-items: center;
            padding-inline: 1rem;
        }
        > img {
            margin-bottom: 0.5rem;
            max-height: 101px;
            @include media('sp') {
                max-height: 101px * .8;
            }
        }
        > p {
            @include media('tab') {
                min-height: 33vh;
            }
            @include media('sp') {
                min-height: 20vh;
            }
        }
    }
}