@use "../global/" as *;

@mixin txt(
    $font-family: $ff_pri,
    $font-size: $fs_xs,
    $letter-spacing: 0.0875rem,
    $line-height: 1.925rem ) {
        font-family: $font-family;
        font-size: $font-size;
        letter-spacing: $letter-spacing;
        line-height: $line-height;
        @include media('tab') {
            font-size: $fs_xs * .9;
        }
        @include media('sp') {
            font-size: $fs_xs * .8;
            line-height: $line-height * .8;
        }
}

.container {
    padding: 0 4.5%;
    max-width: 1250px;
    width: 100%;
}

.txt {
    @include txt;
    &--wider {
        @include txt(
            $letter-spacing: 0.13125rem,
            $line-height: 1.75rem
        )
    }
}

.fade-in {
    opacity: 0;
    &.active {
        @include animation(
            $name: fadein-anim,
            $duration: 1.75s
        );
    }
}